
* {
    margin: 0px;
}
body{
    background-image: linear-gradient(to bottom,rgb(120, 120, 239),rgb(255, 253, 253)),url(study.jpg);
}

#navbar {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    align-items: center;
    position: sticky;
    top: 0px;

}

h1 {
    padding-left: 305px;
}

#navbar1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-right: -35px;

}

li {
    padding: 10px;

}

a {
    text-decoration: none;
    color: rgb(247, 239, 244);
    font-size: 20px;
}
/* --------------------navbar----------------- */
.contact1{
    display: flex;
    padding-top: 100px;
    padding-bottom: 200px;
   
}
#para1{
    padding-top: 75px;
    margin-left: -30px
}
.contact1 h1{
    font-size: 60px;
    margin: 0px 0px 15px -190px;

}
span{
    color: brown;
}
.contact1 p{
    font-size: 30px;
    margin: 22px 0px 40px 110px;
    font-weight: bold;

}
#para2{
    display: flex;
    list-style-type:none;
    padding-bottom: 40px;
    padding-left: 105px;
    font-size: 20px;
    font-weight: bold;
}
#siteimg{
    margin: 50px;
}
footer {
    background-image: linear-gradient(to bottom, rgba(99, 89, 184, 0.822), rgba(56, 57, 69, 0.662));
    display: flex;
    justify-content: space-around;
}

.address1 h4 {
    padding: 20px 48px 0px;
    font-size: 20px;
    color: white;
}

.address1 li {
    list-style-type: none;
    color: white;
}

.address2 h4 {
    padding: 20px 50px 0px;
    font-size: 20px;
    color: white;
}

.address2 li {
    list-style-type: none;
    color: white;
}

.address3 h4 {
    padding: 20px 48px 0px;
    font-size: 20px;
    color: white;
}

.address3 li {
    list-style-type: none;
    color: white;
}

.address4 h4 {
    padding: 20px 46px 0px;
    font-size: 20px;
    color: white;
}

.address4 li {
    list-style-type: none;
    color: white;
}
